# This is Git's per-user configuration file.
[core]

[user]
# Please adapt and uncomment the following lines:
	name = Alexander Rüedlinger 
	email = a.rueedlinger@gmail.com 
[alias]
    unstage = reset HEAD --
    un = reset HEAD --
    ch = checkout
    cd = checkout
    br = branch
    ci = commit
    co = commit
    cm = commit -m
    cme = commit --am
    cma = commit --am --no-edit
    cms = commit -s -m
    st = status
    lg = log
    ll = log --oneline
    ls = log --oneline
    pu = push
    pl = pull
    fe = fetch
    me = merge
    rb = rebase
    rbi = rebase -i
    re = reset
	sh = show
[pager]
	status = true
